body {
  background: url('../images/bg_felt.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.main-box {
  padding-top: 70px;
  padding-bottom: 50px;

  /* rounded edges */
  border-radius: 25px;

  width: 65%;
  margin: auto;
}

.opaque {
  opacity: .85;
}

.leaderboard-box {
  width: 35%;
  padding-right: 100px;
  padding-left: 100px;
}

.small-box {
  padding-top: 35px;
  padding-bottom: 35px;

  /* rounded edges */
  border-radius: 20px;

  width: 50%;
  margin: auto;
}

.vertical-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
