{% load static %}

<div class="container">
  <div class="row">
    {% for card in hand %}
      <div class="col-sm">
        <div class="card">
          <div class="card-block">
            {% if hidden and hand == game.dealer_hand and forloop.last %}
              <img src="{% static "images/facedown.png" %}">
            {% else %}
              {{ card }} <!-- TODO: card.filename and link to image -->
            {% endif %}
          </div>
          <div class="card-footer" align="center">
            {% if hidden and hand == game.dealer_hand and forloop.last %}
              ?
            {% else %}
              {{ card.get_amount_display }} of {{ card.get_suit_display }} <!-- TODO: italicize -->
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<br>
<div class="card-footer" align="center">
  Total value:
  {% if hidden and hand == game.dealer_hand %}
    {{ hand.card_set.first.string_value }}
  {% else %}
    {{ hand.string_value }}
  {% endif %}
</div>
