<!-- header - navbar -->
{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
  <div class="container-fluid">
     <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static "images/ico_home.png" %}" alt="Let's Play Blackjack!" style="width:40px;">
    </a>
    <ul class="navbar-nav">
      <!-- TODO: Active -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'newGame' %}">Play A Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboards</a>
      </li>
    </ul>
    {% if user.is_authenticated %}
      <p class="navbar-text navbar-right">
        Hello, <a class="navbar-link" href="{% url 'userPage' user.id %}">{{ user.username }}</a>!
        <a href="{% url 'logout' %}" type="button" class="btn btn-primary">Sign Out</a>
      </p>
    {% else %}
      <p class="navbar-text navbar-right">
        <a type="button" class="btn btn-secondary" href="{% url 'login' %}">Log In</a>
        <a type="button" class="btn btn-secondary" href="{% url 'register' %}">Sign Up</a>
      </p>
    {% endif %}
  </div>
</nav>
{# user has unfinished games and not on a game page already #}
{% if user.is_authenticated and user.profile.unfinished_games.count > 0 and not game %}
  <nav class="navbar bg-danger navbar-expand-sm navbar-fixed-top">
    <p class="navbar-text navbar-left">
      You have unfinished games!
    </p>
    <ul class="navbar-nav">
      {% for game in user.profile.unfinished_games %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gamePage' game.id %}">{{ game.id }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
