{% extends "base.html" %}
{% load static %}

<!-- TODO: including splitting -->

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="card">
          <div class="card-header">
            <p class="display-4">Dealer</p>
          </div>
          <div class="card-block" id="dealer_hand">
            {% include 'partials/_hand.html' with hand=game.dealer_hand %}
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <p class="display-4">Player</p>
          </div>
          <div class="card-block" id="player_hand">
            {% include 'partials/_hand.html' with hand=game.player_hand %}
          </div>
          <div class="card-block" id="split_hand">
            {% if game.player_split_hand != None %}
              {% include 'partials/_hand.html' with hand=game.player_split_hand %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="small-box opaque bg-light">
          Your money: ${{ request.user.profile.money }}<br>
          At stake: ${{ game.bet }}
        </div>
        <div class="vertical-middle">
          <img src="{% static "images/deck.png" %}" alt="Deck" style="width:322px;height:370px;">
        </div>
      </div>
    </div>

    <br>

    <div class="row" align="center">
      <div class="col-sm">
        <a id="hit" type="button" class="btn btn-primary {% if game.player_hand.standing or game.player_hand.isBust or game.complete %} disabled {% endif %}">Hit</a>
        <a id="stand" type="button" class="btn btn-primary {% if game.player_hand.standing or game.player_hand.isBust or game.complete %} disabled {% endif %}">Stand</a>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm">
        <a id="double" type="button" class="btn btn-primary {% if not game.canDouble or game.player_hand.standing or game.complete %} disabled {% endif %}">Double</a>
        <a id="split" type="button" class="btn btn-primary {% if not game.canSplit or game.player_hand.standing or game.complete %} disabled {% endif %}">Split</a>
        <a id="insure" type="button" class="btn btn-primary {% if not game.canInsure or game.player_hand.standing or game.complete %} disabled {% endif %}">Insure</a>
      </div>
    </div>
  </div>
{% endblock %}
