{% extends "base.html" %}

{% block content %}
  <div class="panel-heading display-2">Blackjack Leaderboards</div>

  <br><br>

  <div class="panel-body leaderboard-box">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Place</th>
        <th>Username</th>
        <th>Money</th>
      </tr>
      {% for profile in profiles %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'userPage' profile.user.id %}">{{ profile.user.username }}</a></td>
          <td>{{ profile.money }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
